// Header
header {	
	background: $secondary-color;
	padding: 10px;
	@include prefix(box-shadow, 0 3px 3px rgba(0,0,0,0.05)); 
	@extend %clearfix;

	.logo {
		color: $primary-color;
		float: left;
		font:{
			family: $base-font-title;
			size: 22px;
			weight: 500;
		}
		
		> span {
			color: lighten($primary-color, 20%);
			font-weight: 300;
		}
	}

	.social {
		float: right;
		.btn {
			font-family: "Dosis";
			font-size: 14px;
			margin: 10px 5px;
		}
	}
}


.bio{
	background-color: black;
	img{
		height: 400px; 
		width:400px;
		max-width: 100%;
	}
}

.main_name{
	text-align: center;
	color:white;
	font-family: 'Nunito', sans-serif;
}

.main_paragraphs{
	text-align: center;
	color:white;
	font-family: 'Nunito', sans-serif;

}

